@import url('https://googleapis.com');

body {
    padding-top: 25px;
}

h1.a {
    font-family: pixelify;
}

.mainContent {
    align-content: center;
    padding-left: 500px;
    padding-right: 500px;
}

.box {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-style: dotted;
    border-width: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@font-face {
  font-family: 'pixelify';
  src: url('../assets/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}