<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>!! HITIZO !!</title>
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="https://file.garden/ZLptrSeVhBA68gx4/resources/gifs/sp.webp">
</head>
<body>
    <div class="mainContent">
        <div class="nav">
                <h1 class="a">.✦  hitizo.neocities.org</h1>
        </div>
        <div class="box">

            <!----- LEFT ----->
            <div class="boxleft" style="overflow:scroll; height:480px">
                <div class="links" id="navBar"></div>
            </div>

            <!----- CENTER ----->
            <div class="boxcenter" style="overflow:scroll; height:480px">
                <h2 class="a">TITLE</h2>
                

            </div>

            <!----- RIGHT ----->
            <div class="boxright" style="overflow:scroll; height:480px">
                a
            </div>
        
    </div>
    <div class="footer" id="footer"></div>

    <script src="../nav.js"></script>
</body>